/* Whole document: */

body{
  font-family: Georgia,Times;
  margin: 20px auto;
  width: 65%;
  font-size: 20px;
  line-height: 32px;
  color:#262626;
}

/*@media (min-width: 400px) {
  body { width: 90%; font-size: 75%; }
}
@media (min-width: 700px) {
  body { width: 80%; font-size: 90%; }
}
@media (min-width: 850px) {
  body { width: 70%; font-size: 100%; }
}
@media (min-width: 1000px) {
  body { width: 60%; font-size: 110%; }
}
@media (min-width: 1100px) {
  body { width: 50%; font-size: 115%;}
}
@media (min-width: 1450px) {
  body { width: 40%; font-size: 125%; }
}*/

/* Headers */
h1,h2,h3,h4,h5,h6{
  font-family:'Helvetic Neue',Helvetica,Arial,sans-serif;
  font-size: 24pt;
}

p{
  text-align:justify;
}

.stext1 {
ccolor:#B85C35;
font-size:30px;
}

.stext2 {
ccolor:#FF0000;
font-size:40px;
}

.stext3 {
ccolor:#FF6610;
font-size:30px;
}

.stext4 {
ccolor:#FF4100;
font-size:30px;
}


#tcent {
  text-align:center;
}

#tcent img {
  width:100px;
  hheight:170px;
}
/*.stext1, .stext2 {
  text-align:center;
}*/